<h1>Add a new item</h1>

<form action="https://www.google.com/search">
<div>
  <label for="search_term">Link URL</label>
  <input id="search_term" placeholder="Enter a URL..." type="text" name="q">
</div>

<div>
  <label for="search_term">Link Description</label>
  <input id="search_term" placeholder="Enter a link description..." type="text" name="q">
</div>

<div>
  <label for="search_term">Thumbnail URL</label>
  <input id="search_term" placeholder="Enter a thumbnail URL..." type="text" name="q">
</div>

<div>
  <button>Create item</button>	
</div>

</form>
